<div class = "translation_detail">
  <div class = "translation_detail_language">
    <%= translation.language.name %>
  </div>
  <div class = "translation_detail_term">
    <%= translation.translated_term %>
  </div>
</div>

