<% if defined?(status) && !status.nil? %>
  <p>Status: <%= status %></p>
<% end %>
<h1>Edit <%= @translation.term.original%></h1>
<%= render "form",
  translation: @translation,
  term: @translation.term.id,
  language: @translation.language.id %>
