<h1>Translations</h1>
<% @translations.each do |translation| %>
  <div>
    <%= link_to translation.original, translation %>
  </div>
<% end %>

<h1>
  <%= link_to 'Create new translation', new_translation_path %>
</h1>

