<div>
  <h1>Translation</h1>
  Original: <%= @translation.term.original %>
</div>

<div>
  <%= link_to "Edit", edit_translation_path(@translation) %>
</div>

<div>
  <%= link_to "All translations", translations_path %>
</div>

