<!--<div id="<%= dom_id term %>">-->
  <p>
    <strong>Original:</strong>
    <%= term.original %>
  </p>
  <p>
    <strong>Translations:</strong>
    <div class="translations_list">
      <% term.translations.each do |t| %>
        <%= render "translations/translation", translation: t %>
      <% end %>
    </div>

<!--</div>-->
