<div class = "term_original">
  <%= term.original %>
</div>
<div class="translations_list">
  <% maybe_translations.each do |mt| %>
    <%= link_to mt.link, language: mt.language, class: "link" do %>
      <% if mt.translated? %>
        <%= render "translations/translation", translation: mt.translation %>
      <% else %>
        <div class="untranslated_language">
          <div class="untranslated_language_name">
            <%= mt.language.name %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<!--</div>-->
