<div class = "term_original">
  <%= term.original %>
</div>
<div class="translations_list">
  <% term.translations.each do |t| %>
    <%= link_to edit_translation_path(t), class: "link" do %>
      <%= render "translations/translation", translation: t %>
    <% end %>
  <% end %>
</div>

<!--</div>-->
