<% if !notice.nil? %>
  <div class="error_notice"><%= notice %></div>
<% end %>

<h1>Terms</h1>

<div class="terms_list">
  <% @terms.each do |term| %>
    <div class="term_detail">
      <%= render term, maybe_translations: @maybe[term] %>
    </div>
  <% end %>
</div>
<br>
<%= link_to "New term", new_term_path, class: "link button" %>
