<p style="color: green"><%= notice %></p>

<h1>Terms</h1>

<div class="terms_list">
  <% @terms.each do |term| %>
    <!-- <li> -->
    <div class="term_detail">
      <%= render term %>
      <p>
        <%= link_to "Show this term", term %>
      </p>
    </div>
    <!-- </li> -->
  <% end %>
</div>

<%= link_to "New term", new_term_path %>
