<p style="color: green"><%= notice %></p>

<h1>Terms</h1>

<div class="terms_list">
  <% @terms.each do |term| %>
    <!-- <li> -->
    <%= link_to term, class: "link" do %>
      <div class="term_detail">
        <%= render term %>
      </div>
    <% end %>
    <!-- </li> -->
  <% end %>
</div>

<%= link_to "New term", new_term_path %>
