  <div class ="language_detail_name">
    <%= language.name %>
  </div>
  <div class ="language_detail_code">
    Code: 
    <span class="language_detail_code_name">
      <%= language.code %>
    </span>
  </div>
