<h1>Editing language</h1>

<%= render "form", language: @language %>

<br>

<div>
  <%= link_to "Delete language", @language, class:"link button", data: {
      turbo_method: :delete,
      turbo_confirm: "Delete this language and all its translations?"
    } %>
  <%= link_to "Back to languages", languages_path, class:"link button" %>
</div>
