<p style="color: green"><%= notice %></p>

<h1>Languages</h1>

<div class="language_list">
  <% @languages.each do |language| %>
      <%= link_to edit_language_path(language), class:"link language_detail" do %>
        <%= render language %>
      <% end %>
  <% end %>
</div>
<br>
<div>
<%= link_to "New language", new_language_path, class:"link button" %>
</div>
