/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing:border-box;
}

:root {
  --main-text-color: black;
  --border-radius: 20px;
  --noyb-purple: #9c0a7d;
}
h1 {
  color: maroon;
}
p {
  background-color: green;
}

.link {
  color: var(--main-text-color); 
  text-decoration: none; 
}
.term_original {
  font-weight: bold;
  color: white;
  background-color: var(--noyb-purple);
  border-radius: calc(var(--border-radius) - 2px) calc(var(--border-radius) - 2px) 0px 0px;
  padding:10px;
  text-indent: 10px;
}

.term_original:hover {
  background-color: #d02ea0;
}
.term_detail {
  border: 2px solid var(--noyb-purple);
  border-radius: var(--border-radius);
  margin: 5px;
}
.translations_list {
  display:flex;
}

.translation_detail {
    flex: 1; 
    margin: 5px;
    background-color: #b0dd88;
    padding:10px;
    flex:0 1 10%;
    border-radius: var(--border-radius);
}
.translation_detail:hover {
  background-color: #a0cd80;
}

.translation_detail_language {
  font-style: italic;
}

.translation_detail_term {
  font-weight: bold;
}

.untranslated_language {
  flex: 1;
  margin: 5px;
  background-color: #e88d88;
  padding:10px;
  flex:0 1 10%;
  height: calc(100% - 10px);
  border-radius: var(--border-radius);
  font-style: italic;
}

.untranslated_language:hover {
  background-color: #e07d78;
}

.person_name {
  background-color: red;
  display:block;
  margin:5px;
}

.person_relation {
  display:block;
  margin:5px;
}
