/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing:border-box;
}

:root {
  --main-text-color: black;
  --border-radius: 20px;
  --noyb-purple: #9c0a7d;
  --noyb-purple-highlight: #84086a;
}
h1 {
  color: maroon;
}
p {
  background-color: green;
}

.link {
  color: var(--main-text-color); 
  text-decoration: none; 
}

body {
  margin:0px;
  padding:0px;
}
#header {
  margin:0px;
}

.navbar {
  background-color: var(--noyb-purple);
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 30px;
  padding: 10px;
  margin: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.navbar-logo {
  display: inline;
  color: white;
  padding: 10px 100px 10px 10px;
}
.navbar-item {
  display: inline;
  color: white;
}

.main_content {
  /* push the top margin to avoid the navbar */
  margin: 70px 10px 0px 10px;
}
.term_original {
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--noyb-purple);
  border-radius: calc(var(--border-radius) - 2px) calc(var(--border-radius) - 2px) 0px 0px;
  padding: 5px 10px 5px 10px;
  text-indent: 10px;
}

.term_original:hover {
  background-color: var(--noyb-purple-highlight);
}
.term_detail {
  border: 2px solid var(--noyb-purple);
  border-radius: var(--border-radius);
  margin: 5px;
}
.translations_list {
  display:flex;
}

.translation_detail {
    margin: 5px;
    border: 2px solid var(--noyb-purple);
    padding:10px;
    width: 100px;
    border-radius: var(--border-radius);
}
.translation_detail:hover {
  background-color: var(--noyb-purple);
  color: white;
}

.translation_detail_language {
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.translation_detail_term {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.untranslated_language {
  margin: 5px;
  background-color: #e88d88;
  padding:10px;
  width: 100px;
  border-radius: var(--border-radius);
}

.untranslated_language:hover {
  background-color: #d06d58;
}

.untranslated_language_name {
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.person_name {
  background-color: red;
  display:block;
  margin:5px;
}

.person_relation {
  display:block;
  margin:5px;
}
