<header>
  <div class="navbar">
    Hey it's the navbar
    <%= link_to new_language_path, class:"link" do %> 
      <div class="navbar-item">
        Add a language
      </div>
    <% end %> | 
    <%= link_to terms_path, class:"link" do %>
      <div class="navbar-item">
        Terms
      </div>
    <% end %>
  </div>
</header>
