<header>
  <div class="navbar">
    <%= link_to root_path, class:"link navbar-logo" do %>
      noyb translate
      <% end %>
    <%= link_to new_language_path, class:"link navbar-item" do %> 
      Add a language
    <% end %> | 
    <%= link_to terms_path, class:"link navbar-item" do %>
      Terms
    <% end %> | 
    <%= link_to submit_terms_path, class:"link navbar-item" do %>
      Submit
    <% end %>
  </div>
</header>
